hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

.rodape__titulo-nome {
    font-weight: bold;
    padding: .5em;
}

.rodape__titulo {
    display: flex;
    justify-content: center;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        padding: .5em;
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: .5em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        padding-bottom: 1em;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    
    .rodape {
        padding: 3em 0;
    }
}